.gerenciamento {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.gerenciamento-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 60px;
    max-height: max-content;
    overflow-y: scroll;


    .adm-top-bar {
        display: flex;
        flex-direction: row;
        height: 2.3em;
        width: 97%;
        justify-content: flex-end;
        align-items: center;
        margin: 5vh 0 3vh 0;
    }

    

    .adm-search-field {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 30em;
        background-color: #f1f1f1;
        height: fit-content;
        width: fit-content;
        padding: 5px 4px;
        border: .4px solid #818181;

        input {
            outline: none;
            border: none;
            background-color: inherit;
            color: #535353;
        }
    }

    table {
        border-collapse: collapse;
        width: 97%;
        max-height: 550px;

        thead {
            th {
                position: sticky;
                top: 0;
                z-index: 1;
                font-family: 'Roboto';
                font-weight: 500;
                font-size: 16px;
                text-align: left;
                color: #ffffff;
                height: 28px;
                background-color: #1E598F;
            }
        }  

        tbody {
            tr {
                > td {
                    font-family: 'Roboto';
                    color: #3f3f3f;
                    font-size: 14px;
                    background-color: #eeeeee;

                    > div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-around;
                        height: fit-content;
                        visibility: hidden;
                        img {
                            width: 18px;
                            cursor: pointer;
                            margin-left: 5px;
                        }
                    }
                }

                &:nth-child(even) {
                    > td {
                        background-color: #e9e9e9;
                    }
                }

                &:hover{
                    > td {
                        background-color: #f7f7f7;

                        > div {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}