.cards {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #F5F6FA;
}

.cards-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3em;
    background-color: #F5F6FA;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;

    width: 69em;
    border-radius: .3em;
    padding: 1em;
}

.adm-top-bar-crd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 58em;
    margin: 1em 0 0 5.8em;

.adm-search-field-crd {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30em;
    background-color: #ffffff;
    height: fit-content;
    width: fit-content;
    padding: 5px 5px;
    border: .4px solid #818181;

    input {
        outline: none;
        border: none;
        background-color: inherit;
        color: #535353;
    }}
}

.cards-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    flex-wrap: wrap;
    width: 100%;
    outline: 4px red solid;
}

.layout-card {
    height: 18em;
    width: 15em;
    margin: 2em 0 0  3em;
    padding: .5em;
    border-radius: .5em;
    background-color: #fff;
    box-shadow: 0 0 6px 2px #00000025;
}

.card-image {
    height: 8em;
    border-radius: .2em;
}

.card-text {
    height: 8em;
    background-color: #F3F4F5;
    color: #5E5E5E;
}