.cadastro {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.btn-cadastro{
    display: flex;
    flex-direction: row;
}

.cadastro-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    .forms-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #dddddd;
        border-radius: .5em;
        padding: .5em;
        width: 580px;
        margin-top: 2.5em;
        height: 530px;
        box-shadow: 1px 3px 7px #2727275d;

        .title {
            font-family: 'Roboto-condensed', 'Helvetica';
            font-size: 32px;
            letter-spacing: -1px;
            font-weight: 600;
            color: #3e3ee0;
            margin-top: 5px;
        }

        input {
            width: 16.7em;
            margin: 1em;
            padding: .6em .4em;
            outline: none;
            border: none;
            font-family: 'Roboto' sans-serif;
            font-size: 14px;
            border-radius: 3px;
            color: #3f3f3f;
        }


        .sending-btn {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 450;
            margin-top: 2.9em;
            width: 14em;
            margin-left: 1em;
            padding: .7em 1.7em;
            border-radius:.5em;
            text-align: center;
            background-color: #3e3ee0;
            color: #ffffff;
            transition: .15s;
            cursor: pointer;
        
            &:hover {
                background-color: #4949e9;
                box-shadow: 0 0 .5em #717171;
            }
        }    
    }
}