.cadastro {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.cadastro-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f5f6fa;

    .forms-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        border-radius: .5em;
        padding: .7em;
        width: 600px;
        height: fit-content;
        margin-top: 2em;
        box-shadow: 1px 2px 8px #00000054;

        .title {
            color: #357AE2;
            font-family: 'Roboto', sans-serif;
            font-size: 1.7em;
            font-weight: 600;
            text-transform: uppercase;
            margin: .8em 0 1.6em;
            user-select: none;
        }

        .cad-forms-columns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            > div {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                justify-content: baseline;
            }
        }

        
        input {
            width: 240px;
            height: 35px;
            margin: 0px 8px 7px;
            padding: .6em .4em;
            outline: none;
            border: none;
            font-family: 'Roboto' sans-serif;
            font-size: 14px;
            border-radius: 3px;
            background: #e0dee9;
            color: #3b3b3b;

            &[type=date] {
                &::-webkit-datetime-edit-text {
                    color: #3b3b3ba9;
                }
                &::-webkit-datetime-edit-day-field {
                    font-family: 'Roboto', sans serif;
                    color: #3b3b3ba9;
                }
                &::-webkit-datetime-edit-month-field {
                    font-family: 'Roboto', sans serif;
                    color: #3b3b3ba9;
                }
                &::-webkit-datetime-edit-year-field {
                    font-family: 'Roboto', sans serif;
                    color: #3b3b3ba9;
                }
            }
        }

        .car-image-box {            
            width: 240px;
            height: 116px; 
            border-radius: .2em;
            background: #e0dee9;
            outline: 1px #bbbec4 solid;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin-bottom: 10px;

            img {
                width: 100%;
            }

            .car-image-box-icon {
                width: 80px;
            }

            #car-image-input {
                visibility: hidden;
                position: absolute;
                outline: yellow 2px solid;
            }
        }

        .btn-cadastro{
            display: flex;
            flex-direction: row;
            width: 420px;
            justify-content: space-between;
            margin: 2em 0 4em 0;
          
            .sending-btn {
                background-color: #c9c7c7;
                border-radius: 10px;
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
                color: #303030;
                padding: .5em 4em;
                margin-top: .5em;
                cursor: pointer;
                transition: .1s;
            }

            .sending-btn:hover {
                background-color: #3787ff;
                color: #ffffff;
            }
            .sending-btn:active{
                transform: scale(.9);
            }
        } 
    }
}