.cadastro {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.cadastro-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f5f6fa;

    .forms-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        border-radius: .5em;
        padding: .7em;
        width: 600px;
        height: fit-content;
        margin-top: 2em;
        box-shadow: 1px 2px 8px #00000054;

        .title {
            color: rgb(42, 118, 231);
            font-family: 'Roboto', sans-serif;
            font-size: 1.7em;
            font-weight: 600;
            text-transform: uppercase;
            margin: 1em 0 1.1em 0;
            user-select: none;
        }

        
        input {
            width: 240px;
            height: 35px;
            margin: 4px 8px;
            padding: .6em .4em;
            outline: none;
            border: none;
            font-family: 'Roboto' sans-serif;
            font-size: 14px;
            border-radius: 3px;
            background-color: #70798b46;
            color: #3b3b3b;
        }

        .car-image-box {
            width: 250px;
            height: 130px; 
            margin: .7em 0 0 .5em;
            padding: .5em;
            border-radius: .2em;
            background: #70798b46;
            outline: 1px #bbbec4 solid;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            align-self: flex-start;
            margin-left: 42.5px;

            img {
                width: 100%;
            }

            .car-image-box-icon {
                width: 145px;
            }

            #car-image-input {
                visibility: hidden;
                position: absolute;
                outline: yellow 2px solid;
            }
        }

        .btn-cadastro{
            display: flex;
            flex-direction: row;
            width: 420px;
            justify-content: space-between;
            margin: 2em 0 4em 0;
          
            .sending-btn {
                background-color: #c9c7c7;
                border-radius: 10px;
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
                color: #303030;
                padding: .5em 4em;
                margin-top: .5em;
                cursor: pointer;
                transition: .1s;
            }

            .sending-btn:hover {
                background-color: rgba(18, 35, 129, 0.808);
                color: rgb(255, 255, 255);
            }
            .sending-btn:active{
                transform: scale(.9);
            }
        } 
    }
}