.cm-footer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 100vw;
    background-color: black;
    color: #fff;
    padding: 4em 0;
    text-align: center;
}

.footer-column-name {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}



.dev-names {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-column {
    li {
        text-align: center;
        color: #a9a7a7;
        font-size: 15px;
        font-family: sans-serif;
        margin: 7px 6px;
        cursor: default;
    }

    a > li {
        cursor: pointer;
    }
}

.footer-column li:hover {
    color: #e2e2e2;
    text-decoration: underline;
}