.cm-header 
    background-color: #000
    display: flex
    flex-direction: row
    justify-content: space-between

    .cm-header-logo 
        color: white

.cm-header-menu

    display: inherit
    flex-direction: row
    justify-content: space-evenly
    width: 30vw

    li
        color: white
        list-style-type: none

