.layout-card {
    height: fit-content;
    width: 250px;
    margin: 2em 0 0  3em;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 6px 2px #00000025;
    overflow: hidden;
    transition: .2s;
    cursor: pointer;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 7px 2px #0000003d;  
    }

    .card-image {
        width: 100%;
        max-height: 220px;
        overflow: hidden;
    }

    .card-text {
        padding: 10px 7px;
        height: 8em;
        font: 15px 'Roboto', sans serif;
        color: #5E5E5E;
    }

    .card-actions {
        float: right;
        > img {
            width: 20px;
            margin: 0 3px;
            cursor: pointer
        }
        visibility: hidden;

        margin-bottom: 10px;
    }

    &:hover {
        .card-actions { visibility: visible; }
    }
}
