.menu {
    position: relative;
    z-index: 1;

    width: 200px;
    padding-bottom: 50px;
    background-color: #363434;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        padding: 40px;
    }

    .logo div {
        font: 700 22px 'Roboto';
        color: #E9E9E9;
    }

    .menu-items {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .menu-items > a {
        display: flex;
        align-items: center;
        font: 500 17px 'Roboto';
        color: #fff;
        padding: 26px 0;
        transition: .2s;
        width: 100%;
        cursor: pointer
    }

    .menu-items > a:hover {
        background-color: #1E598F;
    }

    .selecionado {
        background-color: #1E598F;
    }
}
